<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
    <!-- For local execution, the value can be set either in this config file or through environment variables -->
    <add name="AzureWebJobsDashboard" connectionString="" />
    <add name="AzureWebJobsStorage" connectionString="" />
    <add name="SerifDataContext"   connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=SerifData;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings file="app.true_config">
    <add key="Moe.twitter.ConsumerKey" value="でたらめ" />
    <add key="Moe.twitter.ConsumerSecret" value="tekito" />
    <add key="Moe.twitter.AccessToken" value="にゃーん" />
    <add key="Moe.twitter.AccessTokenSecret" value="一向聴からが遠い" />
    <add key="Moe.mstdn_jp.AppRegistration.Id" value="114514" />
    <add key="Moe.mstdn_jp.AppRegistration.ClientId" value="聴牌しても上がれない" />
    <add key="Moe.mstdn_jp.AppRegistration.ClientSecret" value="スタティックおじさん" />
    <add key="Moe.mstdn_jp.AppRegistration.Instance" value="ついったーどっとこむ" />
    <add key="Moe.mstdn_jp.AppRegistration.AccessToken" value="桃白白" />
    <add key="Moe.pawoo_net.AppRegistration.Id" value="1919810" />
    <add key="Moe.pawoo_net.AppRegistration.ClientId" value="(null)" />
    <add key="Moe.pawoo_net.AppRegistration.ClientSecret" value="ひゃっはー" />
    <add key="Moe.pawoo_net.AppRegistration.Instance" value="そろそろ疲れた" />
    <add key="Moe.pawoo_net.AppRegistration.AccessToken" value="わんわん" />
    <add key="Moe.friends_nico.AppRegistration.Id" value="0721" />
    <add key="Moe.friends_nico.AppRegistration.ClientId" value="⊂二二二（　＾ω＾）二⊃ﾌﾞｰﾝ" />
    <add key="Moe.friends_nico.AppRegistration.ClientSecret" value="ごごごごご　ごが5つ" />
    <add key="Moe.friends_nico.AppRegistration.Instance" value="蟻が200匹ありがてぇ" />
    <add key="Moe.friends_nico.AppRegistration.AccessToken" value="今年の目標：筋肉" />


    <add key="Satomi.twitter.ConsumerKey" value="ぬるぬる" />
    <add key="Satomi.twitter.ConsumerSecret" value="ｶﾞｯ" />
    <add key="Satomi.twitter.AccessToken" value="としま" />
    <add key="Satomi.twitter.AccessTokenSecret" value="ｶﾞｽｯ" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.1.0" newVersion="8.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>